<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.insurance.dao.AccidentDao">
	
	<select id = "accident_selectAll" resultType="com.project.insurance.model.Accident">
		SELECT * 
		FROM accidents;
	</select>
	
	<select id = "accident_selectOne" parameterType="int" resultType="com.project.insurance.model.Accident">
		SELECT * 
		FROM accidents 
		WHERE accident_num = #{accidentNum}
	</select>
	
	<delete id= "accident_deleteOne" parameterType="int">
		DELETE 
		FROM accidents 
		WHERE accident_num = #{accidentNum}
	</delete>
	
	<insert id = "accident_insert" parameterMap="hashmap">
		INSERT INTO accidents(client_Id, insurance_product_name, accident_detail, reception_date) 
		VALUES(#{clientId}, #{insuranceProductName}, #{accidentDetail}, #{receptionDate});
	</insert>
</mapper>
