<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.insurance.dao.InsuranceProductDao">
	
	<select id="actualexpense_select" parameterType = "String" resultType = "java.util.HashMap">
		select * from actual_expenses where insurance_product_name = #{productName};
	</select>
	<!-- 2주차 추가 내용 -->
	
	<!-- DB에 저장 -->
	<insert id="actualexpense_add" parameterType="java.util.Map">
		insert into
		actual_expenses
		(insurance_product_name,
		actual_expense_type, limit_of_indemnity, 
		limit_age, self_payment)
		values(
		#{insurance_product_name},
		#{actual_expense_type},
		#{limit_of_indemnity},
		#{limit_age},
		#{self_payment}
		)
	</insert>
	
	<!-- 보험 삭제하기 -->
	<delete id="actualexpense_delete" parameterType="java.util.Map">
		delete from actual_expenses
		where insurance_product_name =
		#{insurance_product_name}
	</delete>

	<!-- 보험 수정하기 -->
	<update id="actualexpense_update" parameterType="java.util.Map">
		update actual_expenses
		set
		insurance_product_name = #{insurance_product_name},
		actual_expense_type = #{actual_expense_type},
		limit_of_indemnity = #{limit_of_indemnity},
		limit_age = #{limit_age},
		self_payment = #{self_payment}
		where insurance_product_name = #{insurance_product_name}
	</update>

</mapper>