<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.insurance.dao.InsuranceProductDao">

	<select id="cancer_select" parameterType = "String" resultType = "java.util.HashMap">
		select * from cancers where insurance_product_name = #{productName};
	</select>
	<!-- 2주차 추가 내용 -->
	<!-- DB에 저장 -->
	<insert id="cancer_add" parameterType="java.util.Map">
		insert into
		cancers
		(insurance_product_name,
		guaranteed_type,
		limit_age)
		values(
		#{insurance_product_name},
		#{guaranteed_type}, #{limit_age}
		)
	</insert>
	<!-- 보험 삭제하기 -->
	<delete id="cancer_delete" parameterType="java.util.Map">
		delete from cancers
		where insurance_product_name =
		#{insurance_product_name}
	</delete>
	<!-- 보험 수정하기 -->
	<update id="cancer_update" parameterType="java.util.Map">
		update cancers
		set
		insurance_product_name = #{insurance_product_name},
		guaranteed_type = #{guaranteed_type},
		limit_age = #{limit_age}
		where insurance_product_name = #{insurance_product_name}
	</update>
</mapper>