<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.insurance.dao.ClientDao">

	<insert id = "Client_add" parameterMap="com.project.insurance.model.Client">
		INSERT INTO clients (client_Id, name, client_password, age, email, gender, phone_number, bank_account_number, resident_registrationNumber, address, job) 
		VALUES(#{id}, #{name}, #{password}, #{age}, #{email}, #{gender}, #{phoneNUmber}, #{bankAccountNumber}, #{residentRegistrationNumber}, #{job});
	</insert>
	
	
	<delete id="Client_delete" parameterMap="com.project.insurance.model.Client">
		DELETE FROM clients WHERE client_id = #{id} AND client_password = #{password}
	</delete>
	
	
	<select id = "Client_search" parameterType="string" resultType="java.util.HashMap">
		SELECT * FROM clients WHERE client_Id = #{id}
	</select>
	
	
	<select id = "Client_login" parameterType="string" resultType="java.util.HashMap">
		SELECT * FROM clients WHERE client_id = #{id} AND client_password = #{password}
	</select>
	
	
	<update id= "Client_update_info" parameterType="com.project.insurance.model.Client"> // 고객 정보 수정 추가
        UPDATE clients SET client_Id = #{id}, 
                           name = #{name}, 
                           client_password = #{password}, 
                           age = #{age},
                           email = #{email},
                           gender = #{gender},
                           phone_number = #{phoneNumber},
                           bank_account_number = #{bankAccountNumber},
                           resident_registrationNumber = #{residentRegistrationNumber},
                           address = #{address},
                           job = #{job},
                       WHERE client_id = #{id}
    </update>
	
	
	

</mapper>